<div class="flex items-center gap-5">
    <div class="flex-col pr-6 border-r border-r-[#e0e1e1] border-r-[0.3rem] text-center text-[#3eb6a8]">
        <i class="fa-solid fa-envelope-open-text text-4xl"></i>
        <p class="font-bold italic">Contactanos</p>
    </div>

    <div class="flex-col">
        <div class="flex items-center gap-4">
            <i class="fa-solid fa-compass text-xl"></i><p>3015 Grand Ave, Coconut Grove, FL 12345</p>
        </div>
        <div class="flex items-center gap-4">
            <i class="fa-solid fa-envelope text-xl"></i><p>onboarding-digital&commat;mail.com.mx</p>
        </div>
    </div>
</div>
