<div class="flex items-center gap-5">
    <div class="flex-col pr-6 border-r border-r-[#e0e1e1] border-r-[0.3rem] text-center text-[#3eb6a8]">
        <i class="fa-solid fa-heart text-4xl"></i>
        <p class="font-bold italic">Síguenos</p>
    </div>

    <div class="flex gap-8 text-4xl">
        <a routerLink="/home"><i class="fa-brands fa-facebook"></i></a>
        <a routerLink="/home/information"><i class="fa-brands fa-facebook-messenger"></i></a>
        <a routerLink="/home/location"><i class="fa-brands fa-twitter"></i></a>
        <a routerLink="/home/documents"><i class="fa-brands fa-youtube"></i></a>
    </div>
</div>
