<form class="flex flex-col gap-3 px-4">
    <div>
        <label for="email" class="mb-2 font-bold">Correo Electrónico</label>
        <input type="email" id="email" class="border-2 border-[#cdcdcd] text-[#847f7f] text-sm rounded-2xl focus:ring-[#0097b2] focus:border-[#0097b2] w-full p-2.5" placeholder="Ingrese su correo electrónico" />
    </div>
    
    <p class="text-center text-sm mb-6">Ingresa tu Correo Electrónico y te Enviaremos un enlace para Restablecer tu Contraseña</p>
    
    <button type="submit" class="bg-[#3eb6a8] text-white font-bold px-6 py-2 rounded-2xl cursor-pointer self-center">Inicia Sesión en tu Cuenta</button>
</form>
